/* swagger ui customization */
/*body.swagger-section #header {
    background-color: black;
    background: url(your-new-logo.png) no-repeat;
    background-position-x: 250px;
    height: 50px;
}*/

/*body.swagger-section #header .swagger-ui-wrap #logo {
    display: none;
}*/
